html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cover-image {
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: #FFF;
  height: 100%;
}

.product-frame {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 50px 0;
  background-color: #FFF;
}

.featured-slider {
  height: 450px;
  background-color: #FFF;
  margin: 150px 0;
}

.reviews-slider {
  --content-background-color: transparent !important;
  background-color: transparent;
}

.reviews-frame {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.awssld__bullets button {
  width: 10px !important;
  height: 10px !important;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.brands-frame {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 300%;
  animation: slideshow 20s linear infinite;
}

@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -200%; }
}

.button-style {
  background-color: #232162;
  color: #FFF;
  border-radius: 5px;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 12px;
  padding: 15px 30px;
}

/* form starting stylings ------------------------------- */
.group { 
  position: relative; 
  margin-bottom: 45px; 
}
.material-input {
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
.material-input:focus { 
  outline:none; 
}

/* LABEL ======================================= */
.material-label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  /* left:5px; */
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.material-input:focus ~ .material-label,
.material-input[value]:not([value=""]) ~ .material-label 
{
  top:-20px;
  font-size:14px;
  color:#232162;
}

/* BOTTOM BARS ================================= */
.bar 	{ 
  position:relative; 
  display:block; 
  /* width:315px;  */
}
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#232162; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.material-input:focus ~ .bar:before, .material-input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%; 
  /* width:100px;  */
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.material-input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#232162; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#232162; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#232162; }
  to 	{ width:0; background:transparent; }
}

/* Side bar */
.bm-menu-wrap {
  top: 0;
  height: 100vh !important;
  z-index: 100000000 !important;
}

.bm-menu {
  padding: 10px;
  background: #F3F3F3;
}

.dropdown-wrapper {
  width: 47%;
  margin-bottom: 30px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}